/* ----fonts---- */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/* -----common styles and utilities---- */

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    width: 100%;
}

/* -----Top Banner Styles----- */

.top-banner{
    background-color: midnightblue;
    display: flex;
    justify-content: space-evenly;
    padding-top: 67px;
    padding-bottom: 86px;
}
.banner-texts{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.banner-texts a{
    text-decoration: none;
    color: white;
    height: 24px;
    font-size: 26px;
    background-color: #E02C6D;
    padding: 10px 15px;
}
a:hover{
    background-color: orangered;
}
.top-banner img{
height: 438px;
width: 556px;
}

/* -----Players Section Styles----- */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding-top: 60px;
    padding-left: 120px;
    padding-bottom: 165px;
}
.player{
    width: 300px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 300px;
    height: 256px;
    padding-right: 15px 15px 0px 15px;
}
.player-bio{
    color: gray;
    padding-right: 15px;
}

/* -----Members Section Styles----- */

.members{
    background-color: midnightblue;
    padding-top: 2px;
    margin-bottom: 0px;
}
.members-title{
    margin-left: 60px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.flags{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding-left: 60px;
    padding-bottom: 40px;
}
.flags img{
    height: 60px;
    width: 60px;
}

/* -----Downloads Section Styles----- */

.downloads{
    background-color: black;
    padding-top: 10px;
}
.downloads-title{
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.store-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#store{
    padding-left: 45px;
    background-color: black;
}
#store2{
    background-color: black;
}

/* -----Footer Styles----- */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 110px;
    width: 450px;
}
.icons{
    display: flex;
    justify-content: center;
    padding-left: 130px;
    padding-top: 20px;
}
.icons a{
    margin-right: 30px;
    color:midnightblue;
    background-color: white;
}
.copyright-text{
    padding-top: 25px;
    padding-left: 95px;
    color: gray;
    text-align: center;
}

/* ------------------Media Queries------------------- */

/* -----For Mobile Devices----- */

@media only screen and (max-width:688px) {
    .top-banner{
        width: 250%;
        align-items: center;
        flex-direction: column;
    }
    .banner-texts{
        margin-bottom: 80px;
    }
    .players{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        left: 55px;
    }
    .members{
        width: 250%;
    }
    .flags{
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 60px;
    }
    .downloads{
        width: 250%;
    }
    footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 275px;
    }  
}